body {
    background-color: #1d1d1d; /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Coloca el contenido en columna */
    height: 100vh; /* Centra el canvas verticalmente */
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex; /* Coloca el canvas y el marcador uno al lado del otro */
    align-items: center; /* Centra el contenido verticalmente */
}

#canvas {
    border: 2px solid #00ff00; /* Borde verde neón */
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); /* Sombra verde neón */
    background-color: #000; /* Fondo del canvas */
}

#gameTitle {
    color: #00ff00; /* Color del título */
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 10px; /* Espacio entre el título y el canvas */
    text-shadow: 2px 2px 4px rgba(0, 255, 0, 0.7); /* Sombra del texto */
    text-align: center; /* Centra el título */
}

.scoreboard {
    background-color: #222; /* Fondo del marcador */
    color: #00ff00; /* Color del texto */
    padding: 15px; /* Aumenta el espaciado interno para dar más espacio al texto */
    margin-left: 10px; /* Espacio entre el canvas y el marcador */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Sombra del marcador */
    height: 135px; /* Deja que el alto se ajuste al contenido */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}


h2 {
    margin: 0; /* Elimina el margen superior */
}

.scoreboard p {
    margin: 10px 0; /* Espaciado entre los párrafos */
    font-size: 18px; /* Tamaño de fuente */
}

button {
    margin-top: auto; /* Empuja el botón hacia la parte inferior */
    padding: 5px 10px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño de la fuente del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
}


button:hover {
    background-color: #45a049; /* Color del botón al pasar el mouse */
}
